@using HMS.Enums
@model HMS.Models.Patient

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="intro" style="padding: 200px">
<h4>Edit Patient @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-12">
            <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Enums.Gender>()" class="form-control"></select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="ContactNumber" class="control-label"></label>
                            <input asp-for="ContactNumber" class="form-control" />
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <input type="hidden" asp asp-for="AddressId"/>
                        <div class="form-group">
                            
                            <label asp-for="Address.Country" class="control-label"></label>
                            <input asp-for="Address.Country" class="form-control" />
                            <span asp-validation-for="Address.Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="form-group">
                            <label asp-for="Address.City" class="control-label"></label>
                            <input asp-for="Address.City" class="form-control" />
                            <span asp-validation-for="Address.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Address.State" class="control-label"></label>
                            <input asp-for="Address.State" class="form-control" />
                            <span asp-validation-for="Address.State" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Address.Street" class="control-label"></label>
                            <input asp-for="Address.Street" class="form-control" />
                            <span asp-validation-for="Address.Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="Address.PostalCode" class="control-label"></label>
                            <input asp-for="Address.PostalCode" class="form-control" />
                            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="DoctorId" class="control-label">Doctor Name</label>
                            <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="AdmissionDate" class="control-label"></label>
                            <input asp-for="AdmissionDate" class="form-control" />
                            <span asp-validation-for="AdmissionDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="DischargeDate" class="control-label"></label>
                            <input asp-for="DischargeDate" class="form-control" />
                            <span asp-validation-for="DischargeDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label asp-for="ProfilePictureId" class="control-label">Profile Picture</label>
                            <div>
                                @if (Model.ProfilePictureId != null)
                                {
                                    <img src="~/uploads/@Model.ProfilePictureId" class="rounded-circle" width="100" height="100" alt="Profile Picture" />
                                }
                            </div>
                            @if (Model.ProfilePictureId != null)
                            {
                                <!-- Button to remove picture -->
                                <form asp-action="RemovePicture" method="post">
                                    <input type="hidden" name="Id" value="@Model.Id" />
                                    <button type="submit" class="btn btn-danger">Remove Picture</button>
                                </form>
                            }
                            <div class="form-group">
                                <label asp-for="ProfilePictureId" class="control-label">Upload New Picture</label>
                                <input asp-for="ProfilePictureId" class="form-control" type="file" />
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#remove-picture').click(function () {
            $('#new-picture').val(''); // Clear new picture input
        });
    });
</script>