<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/favicon_io/favicon.ico">

</head>
<body>
    
        
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a class="navbar-brand" href="/">
                <a class="navbar-brand" href="/"><img src="~/images/logo2.png" /></a>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" style="background-color: #fff;">
            <span class="fa fa-bars" style="color: #16A9CF;"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0  ">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/Home/ContactUs" class="nav-item nav-link">Contact Us</a>
             
             
              
            </div>
            <div class="dropdown btnHeader">
                <button class="btn btn-secondary dropdown-toggle btnsub text-light rounded-pill py-2 px-4 ms-3" type="button" data-toggle="dropdown">
                    Menu
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Patient/Index">Patient</a></li>
                    <li><a class="dropdown-item" href="/Doctor/Index">Doctor</a></li>
                    <li><a class="dropdown-item" href="/Appointment/Index">Appointment</a></li>
                    <li><a class="dropdown-item" href="/Billing/Index">Billing</a></li>
                    
                </ul>
            </div>

          </div>
        </nav>
      
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Develop by Ghufran: 2024 - HMS - <a asp-area="" asp-controller="Home" asp-action="AboutMe">Privacy</a>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
