


<div class="container mt-4" style="padding:200px">
    <h2>Password Changed Successfully</h2>
    <p>Your password has been changed successfully. You can now login with your new password.</p>
    <a href="/Authentication/Login" class="btn btn-primary">Go to Login</a>
</div>
