@using HMS.Abstractions;
@inject IContextService context;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HMS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    @* <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/plugins/cubeportfolio/css/cubeportfolio.min.css">
    <link href="/css/nivo-lightbox.css" rel="stylesheet" />
    <link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
    <link href="/css/owl.carousel.css" rel="stylesheet" media="screen" />
    <link href="/css/owl.theme.css" rel="stylesheet" media="screen" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">

    <!-- boxed bg -->
    <link id="bodybg" href="/css/bg1.css" rel="stylesheet" type="text/css" />
    <!-- template skin -->
    <link id="t-colors" href="/css/default.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon_io/favicon.ico">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


    <div id="wrapper">

        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
           
            <div class="container navigation">

                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="~/images/logo1.png" alt="" width="100" height="100" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/Home/ContactUs">Contact Us</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@* <span class="badge custom-badge red pull-right">Extra</span> *@Menu <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Patient/Index">Patient</a></li>
                                    <li><a href="/Doctor/Index">Doctor</a></li>
                                    <li><a href="/Appointment/Index">Appointment</a></li>
                                    <li><a href="/Billing/Index">Billing</a></li>
                                </ul>
                            </li>
                        @if (context.IsUserLoggedIn() == true)
                        {
                            <li><a href="/Authentication/Logout">Logout</a></li>

                        }
                        else
                        {
                            <li><a href="/Authentication/Signup">Sign Up</a></li>
                            <li><a href="/Authentication/Login">Login</a></li>
                            
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        @RenderBody()



        <footer>

            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="wow fadeInLeft animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                <div class="text-left">
                                    <div class="credits">
                                        <a href="/">Desing by Ghufran | </a>
                                        <a href="/Home/AboutMe">About Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="wow fadeInRight animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
                                <div class="text-right">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
