@model IEnumerable<Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Model;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                  @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                

            </tr>
        }
    </tbody>
    <table>

    </table>
</table>
