
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .index{
        text-align: center;
    }
</style>

<section class="index">
    <div class="intro-content">
    <h1> Weclome to Hospital Management System</h1>
     <h3>Design by Ghufran Khan</h3>
    </div>
</section>
