
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .index{
        text-align: center;
    }
</style>

<section class="index">
    
    <div class="intro-content">
        <p>Total Visits: @ViewBag.TotalVisits</p>
        <p>Total Patients: @ViewBag.TotalPatients</p>
        <p>Total Doctors: @ViewBag.TotalDoctors</p>
    <h1> Weclome to Hospital Management System</h1>
     <h3>Design by Ghufran Khan</h3>
    </div>
</section>
