
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .index{
        text-align: center;
    }
</style>

<section class="index">
    <h1> Weclome to Hospital Management System</h1>
     <h2>Design by Ghufran Khan</h2>
</section>
